<form action="/tasks" method="patch">

  <label for="title">Enter task</label>
  <input type="text" title="task[title]" placeholder="Title">

  <label for="details">Enter details</label>
  <input type="text" title="task[details]" placeholder="details">

  <input type="submit">

</form>